* {
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter.var.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic.var.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf');
    font-style: italic;
}