:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html[data-theme="light"] {
    --background-color: #ffffff;
    --background-color-rgb-values: 255, 255, 255;
    --accent: #0078be;
    --accent-button-hover: #1355be;
    --main-text: #000000;
    --main-text-rgb-values: 0, 0, 0;
    --border: #e1e1e1;

    --unselected-button: #939393;
    --selected-button: #3C3C3C;
}

html[data-theme="dark"] {
    --background-color: #202020;
    --background-color-rgb-values: 32, 32, 32;
    --accent: #3b81f4;
    --accent-button-hover: #1c5ecb;
    --main-text: #ffffff;
    --main-text-rgb-values: 255, 255, 255;
    --border: #404040;

    --unselected-button: #7C7C7C;
    --selected-button: #D1D1D1;
}

*:focus-visible { /*focus-visible makes it so that the style only gets applied when the element is being focused by using the keyboard. Because in the past the focused border would also appear when clicking on an element */
    outline: none;
    box-shadow: 0 0 0 3px var(--accent);
}

.loader {
    width: 3em;
    height: 3em;
    display: inline-block;
    position: relative;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--accent);
    position: absolute;
    left: calc(50% - 1.5em); /*To find the middle we have to subtract the width/2 from 50% */
    top: calc(50% - 1.5em); /*To find the middle we have to subtract the height/2 from 50% */
    animation: animloader 2s linear infinite;
}
.loader::after {
    animation-delay: -1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
